body {
    
background: #4B9CD3;

}
div#contenedor-logotipo{
    width:100%;
}

div#contenedor-logotipo img{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
}
div#contenedor-logotipo h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    color:white;
    float: left;
    
}
div#h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    text-align:center;
}
div.clearfix {
    clear:both;
}

div.menu-fichas{
    background-color:white;
    width: 900px;
    color:white;
    border-radius: 15px;
    padding: 15px 32px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin:auto;
    font-size: 18px;
    
}

div.formulario{
    width: 900px;
    margin:auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4B9CD3;
    font-weight: bold
    ;
}
form input {
    width: 100%;
    padding: 1.5mm;
    border-color:#4B9CD3 ;
    border: 1px solid;
}
div.form-line{
    padding: 10px;
}
div.form-line label{
    width: 200px;
}

button {
    background-color:#4B9CD3;
    border: 2px black;
    color:white;
    border-radius: 5px;
    padding: 15px 32px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    margin-top: 5px;
    font-size: 16px;
}
button#boton-enviar{
    text-align: center;
}
table th, td{
    
    border: 5 px solid black;
    background-color: white;
    padding: 5px;
    margin: 10px;
}
th,td{
    border: 5 px solid black;
    text-align: left;
    font-size: 18px;
}
thead{
    
    background:lightskyblue;
    
}
div.ficha{
    padding: 30px;
}
div#ficha-02{
    text-align: center;
}

div.fila-1{
    width: 100%;
    margin: auto;
}
div.columna-1{
    width: 33%;
    float: left;
    
}
div.columna-2{
    width: 33%;
    float:left;
}
div.columna-3{
    width: 33%;
    float:left;
}

img#fondo{
    align-items: center;
}

div#logo-index{
    text-align: center;
    height: 100px;
}

div.texto-logo{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;

}
div.cabecera-index{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    height: 300px;
}
div.menu-index{
    background-color:white;
    border: 2px black;
    color:white;
    border-radius: 5px;
    padding: 15px 32px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    margin-top: 100px;
    font-size: 18px;
    text-align: center;
}
a#boton-ingreso{
    background-color:#4B9CD3;
    border: 2px black;
    color:white;
    border-radius: 5px;
    padding: 15px 32px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a#boton-fichas{
    background-color:#4B9CD3;
    border: 2px black;
    color:white;
    border-radius: 5px;
    padding: 15px 32px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: left;
    margin-top: 20px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.menu-ingreso{
    text-align: center;
    padding-bottom: 20px;
}

a#boton-index{
    background-color:white;
    color:#4B9CD3;
    border-radius: 5px;
    padding: 15px 32px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: left;
    margin-top: 20px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a#boton-fichas-ingreso{
    background-color:white;
    color:#4B9CD3;
    border-radius: 5px;
    padding: 15px 32px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: left;
    margin-top: 20px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
