body {
    
background: #4B9CD3;

}
div#contenedor-logotipo{
    width:100%;
}

div#contenedor-logotipo img{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
}
div#contenedor-logotipo h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    color:white;
    float: left;
    
}
div#h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align:center;
}
div.clearfix {
    clear:both;
}

div.formulario{
    width: 900px;
    margin:auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4B9CD3;
    font-weight: bold
    ;
}
form input {
    width: 100%;
    padding: 1.5mm;
    border-color:#4B9CD3 ;
    border: 1px solid;
}
div.form-line{
    padding: 10px;
}
div.form-line label{
    width: 200px;
}

button {
    background-color:#4B9CD3;
    border: 2px black;
    color:white;
    border-radius: 5px;
    padding: 15px 32px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    margin-top: 5px;
    font-size: 16px;
}
button#boton-enviar{
    text-align: center;
}
table{
    display:block;
    white-space:nowrap;
    width:100%;
}
th,td{
    border-bottom: 1px;
    border-collapse: collapse;
}
thead{
    float: left;
    background: lemonchiffon;
    width: 10%;
}

thead tr {
    width:100%;
    float:left
}

thead th{
    display: block;
}

tbody {
    float: left;
    width: 90%;
  }
  tbody tr {
    display: inline-block;
  }
  tbody td {
    float:left;
    width:100%;
  }

img#fondo{
    align-items: center;
}

div#logo-index{
    text-align: center;
    height: 100px;
}

div.texto-logo{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;

}
div.cabecera-index{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    height: 300px;
}
div.botones-index{
    background-color:white;
    border: 2px black;
    color:white;
    border-radius: 5px;
    padding: 15px 32px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    margin-top: 100px;
    font-size: 18px;
    text-align: center;
}

div.botones-footer{
    background-color:white;
    border: 2px black;
    color:white;
    border-radius: 5px;
    padding: 15px 32px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
