body {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);;
}
img#img-animales{
    height: 300px;
    width: auto;
    display: block;
    margin: auto;
}
h1{
    align-items: center;
}

div.formulario{
    width: 800px;
    margin:auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
    font-size: 20px;
}
div.form-line{
    padding: 10px;
}
form #nombre {
    width: 300px;
}

form #tutor{
    width: 300px;
}